*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: 100%;
    background: white;
    font-size: 16px;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav_container
{
    padding: 10px 50px 3px 50px;
    box-shadow: 0 0 5px silver;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
}

.main_container
{
    display: flex;
    padding-top: 80px;
    height: 100vh;
    background-color: white;
}

 .sidebar
{
   box-shadow: 3px 0 3px silver; 
    width: 300px;
    overflow: auto;
}

 .main_body 
{
    flex: 1;
  
    
}

.logo_container img
{
    width: 150px;
}

.logout_container
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logout_container a
{
    text-decoration: none;
    color: gold;
}

.title_container
{
    background-color: #ffd700;
    padding: 20px;
}

.main_content
{
    padding: 10px;
}

.sidebar_menu a
{
    text-decoration: none;
    color: black;
   
}

.sidebar_menu 
{
    padding: 10px 10px 10px 50px ;
   
}

.sidebar_menu:hover
{
   
    background-color: gold;
    transition: 0.8s;
    
   
}

.sidebar_menu i
{
    margin: 0 20px 0 0;
}

.dropdown
{
    padding: 8px 0px 8px 5px;
    display: none;
}

.dropdown_menu
{
   padding: 5px 0;
}

.content_box
{
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px silver;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 300px;
    

}

.content_box:hover
{
    
    box-shadow: 0 0 10px silver;
    opacity: .9;
    transition: .8;
    
    

}

.content_box i
{
    font-size: 40px;
    color: white;

}

.content_box p
{
   font-size: 20px;
   margin: 5px 0 0 0;
   color: white;

}

.home_container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home_container a
{
    flex-basis: 500px;
    text-decoration: none;
}

.box_darkblue
{
    background-color: darkblue;
}

.box_darkred
{
    background-color: darkred;
}

.box_green
{
    background-color: green;
}

.box_orange
{
    background-color: orange;
}

.box_red
{
    background-color: red;
}

/* ==============TABLE =============*/
.table_format
{
    background-color: white;
    box-shadow: 0 0 10px silver;
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    border: none;
}

.table_format td
{
  padding: 10px;
  border: none;
}

.table_format tr:nth-child(even)
{
    background-color: rgb(239, 239, 239);
}

/* ==============PROFILE IMAGE =============*/
.profile_frame
{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px auto;
}

.profile_frame img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ==============BUTTONS =============*/
.primary_button
{
    background: gold;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: .5 ease-in; 
}

.primary_button:hover
{
   opacity: .9;
   transition: .5 ease-in;
   
}

.primary_button:active
{
 border: 2px solid #fa9852;
 transform: scale(.9);
 transition: .5 ease-in; 
}

.edit_profile_link
{
    display: block;
    margin:10px 0;
}